{% extends 'Home/base.html' %}
{% load static %}

{% block body %}
  <div class="page-wrapper">
    <div class="content container-fluid">
      <!-- PAGE HEADER -->
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="page-title">Add Salary</h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'salary_list' %}">Accounts</a>
              </li>
              <li class="breadcrumb-item active">Add Salary</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- FORM ROW -->
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row">
                  <div class="col-12">
                    <h5 class="form-title"><span>Salary Information</span></h5>
                  </div>

                  <!-- Staff ID -->
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Staff ID</label>
                      <input type="text" class="form-control" name="staff_id" required />
                    </div>
                  </div>

                  <!-- Name -->
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Name</label>
                      <input type="text" class="form-control" name="name" required />
                    </div>
                  </div>

                  <!-- Gender -->
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Gender</label>
                      <select class="form-control" name="gender" required>
                        <option value="">Select Gender</option>
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                        <option value="Others">Others</option>
                      </select>
                    </div>
                  </div>

                  <!-- Joining Date -->
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Joining Date</label>
                      <input type="date" class="form-control" name="joining_date" required />
                    </div>
                  </div>

                  <!-- Amount -->
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Amount</label>
                      <input type="text" class="form-control" name="amount" required />
                    </div>
                  </div>

                  <!-- Submit -->
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- SCRIPTS -->
  <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'assets/js/popper.min.js' %}"></script>
  <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
  <script src="{% static 'assets/js/script.js' %}"></script>
{% endblock %}
