{% extends "Home/base.html" %}

{% load static %}
{% block body %}

<div class="page-wrapper">
<div class="content container-fluid">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">Edit Exam</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="/exams">Exam</a></li>
<li class="breadcrumb-item active">Edit Exam</li>
</ul>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-body">
<form method="POST" enctype = "multipart/form-data">
    {% csrf_token %}
<div class="row">
<div class="col-12">
<h5 class="form-title"><span>Exam Information</span></h5>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Exam Name</label>
<input type="text" name="exam_name" class="form-control" value="{{exam.exam_name}}">
</div>
</div>
<div class="col-12 col-sm-6">
    <div class="form-group">
        <label>Class</label>
        <select class="form-control" id="classSelect">
            <option value="">Select Class</option>

            {% regroup subjects by student_class as class_list %}

            {% for group in class_list %}
                <option value="{{ group.grouper }}"
                    {% if group.grouper == exam.subject.student_class %}selected{% endif %}>
                    {{ group.grouper }}
                </option>
            {% endfor %}

        </select>
    </div>
</div>

<div class="col-12 col-sm-6">
    <div class="form-group">
        <label>Subject</label>
        <select class="form-control" name="subject" id="subjectSelect">
            <option value="">Select Subject</option>

            {% for subject in subjects %}
                <option value="{{ subject.id }}"
                        data-class="{{ subject.student_class }}"
                        {% if subject.id == exam.subject.id %}selected{% endif %}>
                    {{ subject.subject_name }}
                </option>
            {% endfor %}

        </select>
    </div>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Fees</label>
<input type="number" step="0.01" name="fees" class="form-control" value="{{exam.fees}}">
</div>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Start Time</label>
<input type="time" name="start_time" class="form-control" value="{{exam.start_time}}">
</div>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>End Time</label>
<input type="time" name="end_time" class="form-control" value="{{exam.end_time}}">
</div>
</div>
<div class="col-12 col-sm-6">
<div class="form-group">
<label>Event Date</label>
<input type="date" name="event_date" class="form-control" value="{{exam.event_date}}">
</div>
</div>
<div class="col-12">
<button type="submit" class="btn btn-primary">Submit</button>
</div>
</div>
</form>
</div>
 </div>
</div>
</div>
</div>
</div>

</div>


<script src="{%static 'assets/js/jquery-3.6.0.min.js' %}"></script>

<script src="{%static 'assets/js/popper.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{%static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<script src="{%static 'assets/js/script.js' %}"></script>
</body>

<!-- Mirrored from preschool.dreamguystech.com/html-template/edit-exam.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 28 Oct 2021 11:12:21 GMT -->
</html>
{% endblock  %}